@page "/test/"
@model BlazorHero.CleanArchitecture.Server.TestModel
@{
    ViewData["Title"] = "Test";
}
<div class="text-center">
    <h1>Test Test Test</h1>
</div>
@* <div> *@
@*     <component type="typeof(Counter)" render-mode="ServerPrerendered"/> *@
@* </div> *@